* {
  box-sizing: border-box;
  margin: 0px;
}

html {
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: 1px solid red;
}

a {
  text-decoration: none;
  color: rgb(13, 132, 255);
}

.login-box {
  width: 500px;
  margin: 200px 450px 10px; /*Can reduce this down to just a top margin */
  padding: 5px 30px 10px;
  border: 1px solid rgb(229, 229, 229);
}

.login-box h1 {
  margin-top: 0px;
  font-weight: 100;
}

.login-box form p {
  padding: 10px 5px 7px;
  color: rgb(70, 84, 80);
}

.login-box form input {
  width: 100%;
  height: 2rem;
  border: 1px solid rgb(161, 161, 161);
}

.login-box .password-help {
  display: flex;
  padding-top: 25px;
  padding-bottom: 10px;
  list-style: none;

  color: rgb(70, 84, 80);
}

.login-box .right-side {
  margin-left: 195px;
}

.login-box form button {
  margin-top: 20px;
  width: 100%;
  height: 2rem;
  background-color: rgb(247, 197, 72);
  border: 1px solid rgb(187, 154, 73);
}

.login-box form button:hover {
  background-color: limegreen;
  transition: background-color 0.8s linear 0.4s;
}

.login-box .general-help {
  list-style: none;
  padding: 20px 0px 10px 20px;
}

.below-login-box {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

.below-login-box p {
  border-bottom: 1px solid rgb(188, 188, 188);
  width: 460px;
  line-height: 0.01rem;
  /* margin: 10px 0 20px; */
}

.below-login-box p span {
  padding: 0 8px;
  background-color: white;
  color: rgb(152, 152, 152);
}

.below-login-box form button {
  width: 460px;
  height: 2rem;
  margin-top: 25px;
}

footer {
  text-align: center;
  width: 100%;
  border-top: 2px solid rgb(174, 178, 185);
  padding-top: 40px;
}

footer .technical-links {
  display: flex;
  justify-content: center;
  padding: 0px;
  list-style: none;
}

footer .technical-links li {
  margin: 0px 10px;
  font-size: 13px;
}

footer p {
  font-size: 13px;
  font-style: normal;
  padding: 30px 0px 100px;
}